body{
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}
p{
  margin: 0;
}
.w{
  width: 12rem;
  margin: 0 auto;
}
input{
  outline: none;
  border: none;
}
div{
  box-sizing: border-box;
}
.el-message{
  z-index: 9999;
}

